[user]
		email = albin.remnestal@gmail.com
		name = Albin Remnestål

[core]
		editor = vim

[push]
		default = matching
		
[pull]
		ff = only	

[diff]
		algorithm = patience	

[color]
		diff = auto
		status = auto
		branch = auto
		ui = true

[color "status"]
		added = green
		changed = yellow
		untracked = red

[pretty]
		florida = format:%C(yellow)%h %C(blue)%<(14)%cr %C(green)%<(18)%aN %Creset%s%Cred%d
