"*":
  "atom-dbt-formatter":
    editorOptions: {}
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnSave: true
  "color-picker":
    automaticReplace: true
    preferredFormat: "HEX"
    triggerKey: "E"
  core:
    disabledPackages: [
      "go-debug"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    showIndentGuide: true
  "exception-reporting":
    userId: "c2675d0f-2f3e-40c2-95dd-7841eb727a48"
  "go-plus":
    disabledBundledPackages: [
      "go-debug"
    ]
    lint:
      tool: "golangci-lint"
    panel:
      displayMode: "closed"
    test:
      runTestsOnSave: false
  react:
    enabledForAllJavascriptFiles: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".js.jsx.source":
  editor:
    autoIndent: true
